<div class="container">
  <header>
    <div class="chat-container">
      <span class="title">
        Chat
      </span>
      <div id="chat-box">
        <span *ngFor="let message of chat | async">
          <span style="font-weight: bold;">{{ message.user.name }}:</span>
          {{ message.text }}
          <br />
        </span>
      </div>
      <div class="chat-hint">
        <input
          id="chat-input"
          type="text"
          (keydown.enter)="commitText()"
          required
        />
        <label for="chat-input" class="chat-label">
          Press enter to start typing
        </label>
      </div>
    </div>
    <svg
      (click)="redirectToNoah()"
      class="info"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path
        d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-.001 5.75c.69 0 1.251.56 1.251 1.25s-.561 1.25-1.251 1.25-1.249-.56-1.249-1.25.559-1.25 1.249-1.25zm2.001 12.25h-4v-1c.484-.179 1-.201 1-.735v-4.467c0-.534-.516-.618-1-.797v-1h3v6.265c0 .535.517.558 1 .735v.999z"
      />
    </svg>
  </header>
  <section>
    <div id="player-container">
      <div id="player" class="character">
        <div class="name-line"></div>
        <div class="name" *ngIf="user | async; let u">
          {{ u.name }}
        </div>
      </div>
      <div
        *ngFor="let player of playerList"
        id="player-{{ player.name }}"
        class="character others"
      >
        <div class="name">
          {{ player.name }}
        </div>
      </div>
    </div>

    <div class="ground"></div>
  </section>
</div>
